*.lo
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
estimate-ngram
evaluate-ngram
install-sh
interpolate-ngram
libmitlm.la
libtool
ltmain.sh
missing
src/.deps/
src/.dirstamp
*.cpp~
*.h~
